/********

Siren Listening Page Boilerplate v1.0

File Name: Header and Footer

File Purpose: Classes for the header and footer elements

File Notes: 
  - Headers and footers for listening pages are limited

*********/


/*-------------------------*\
  #Header
\*-------------------------*/

.page_header{
	text-align: center;
	padding: 1em 2em 0;
}

//Site Title
.page_title{
	margin: 0;
}






/*-------------------------*\
  #Footer
\*-------------------------*/




