/********

Siren Listening Page Boilerplate v1.0

File Name: Password

File Purpose: Styling for the password form

File Notes: 

*********/

/*-------------------------*\
  #Password-Container
\*-------------------------*/

.password{
	text-align: center;
	width: 300px;
	margin: 0 auto;

	h2{
		margin-bottom: 1.5em;
	}
}